@font-face {
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../../public/assets/Fonts/Roboto-Regular.eot) format("eot");
    src: url(../../public/assets/Fonts/Roboto-Regular.ttf) format("ttf");
    src: url(../../public/assets/Fonts/Roboto-Regular.woff) format("woff");
    src: url(../../public/assets/Fonts/Roboto-Regular.woff2) format("woff2");
  }
* {
    font-family: roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    background-color: #eeee;
    position: relative;
  }
  